body {
  font-family: Roboto;
  color: #212529;
}

nav ul li {
  display: inline;
}

nav ul {
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, nav, a {
  font-family: Ubuntu;
  color: #1b2b52;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4, h5, h6 {
  font-size: 1rem;
}

nav {
  text-align: center;
}

a.navbar-item {
  padding: 2px;
  color: #8860D0;
  font-size: 1rem;
}

a.s-navbar-brand {
  font-size: 1.5rem;
  color: #1b2b52;
}

a, a:hover {
  color: #8860D0;
}

a.active {
  text-decoration: underline;
}

footer {
  text-align: center;
  border: solid #e7e7e7;
  border-width: 1px 0 0 0;
}

 div.content {
   padding-top: 1rem;
 }

div.meta {
  font-style: italic;
}

i.fa {
  font-size: 1.25rem;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    border:2px solid #ddd;
    margin-bottom: 1rem;
}

th, td {
    border:2px solid #ddd;
    padding: 10px;
    text-align: left;
}

pre.highlight {
  background-color: #f8f9fa
}
