.navbar-brand {
  font-size: 2em;
  color: #1b2b52 !important;
}

.navbar-nav>li>a {
  font-size: 1.2em;
  color: #333 !important
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-header {
    float: left;
    padding: 15px 0px 0px 0px ;
    text-align: center;
    width: 100%;
}
.navbar-brand {
  float:none;
  margin-left: -0px !important;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: #1b2b52;
  color: #e7e7e7;
  border: solid #e7e7e7 !important;
  border-width: 1px 0 0 0 !important;
  z-index: 1;
}

body {
    font-family: Ubuntu;
    margin-bottom: 80px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

a {
  color: #8860D0;
}

.section h1 {
  padding-top: 70px !important;
}


h1 {
  color: #1b2b52;
}

footer > p {
  text-align: center;
}

p {
  text-align: justify;
}

hr {
  margin: -5px 0px 5px 0px;
  border-color: #e7e7e7;
}
