nav ul li {
  display: inline;
}

nav ul {
  margin: 0px;
  padding: 0px;
}

body {
  padding-top: 76px;
  font-family: Roboto;
}

h1, h2, h3, h4, h5, footer, nav, a {
  font-family: Ubuntu;
  color: #1b2b52;
  /* letter-spacing: 0.10rem; */
}

nav {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

a.navbar-item {
  padding: 2px;
  color: #8860D0;
  font-size: 1.2em;
}

a.s-navbar-brand {
  font-size: 2em;
  color: #1b2b52 !important;
}

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  text-align: center;
  background-color: #1b2b52;
  color: #e7e7e7;
  border: solid #e7e7e7 !important;
  border-width: 1px 0 0 0 !important;
  z-index: 1;
}


a, a:hover {
  color: #8860D0;
}

a.active {
  text-decoration: underline;
}
