<!DOCTYPE html>
<html>
	<head>
		{% for js in page.customjs %}
		<script async type="text/javascript" src="{{ js }}"></script>
		{% endfor %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Sophia Wheatley">
		<title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML"></script>
		<script type="text/x-mathjax-config">
				MathJax.Hub.Config({
				tex2jax: {
				inlineMath: [['$','$'], ['\\(','\\)']],
				processEscapes: true},
				jax: ["input/TeX","input/MathML","input/AsciiMath","output/CommonHTML"],
				extensions: ["tex2jax.js","mml2jax.js","asciimath2jax.js","MathMenu.js","MathZoom.js","AssistiveMML.js", "[Contrib]/a11y/accessibility-menu.js"],
				TeX: {extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"], equationNumbers: {autoNumber: "AMS"}}
				});
		</script>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
	<body>
		<div class="container-fluid">
			<div class="row bg-light">
				<div class="col-12">
					<nav class="bg-light">
						<a class="s-navbar-brand" href="/">Sophia Wheatley</a>
						<ul>
							<li><a class="navbar-item mx-auto {% if "/blog/" == page.url %}active{% endif %}" href="/blog/">Blog</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row justify-content-center ">
				<div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 align-self-center">
					<div class="content">
						{{ content }}
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 align-self-center">
					<footer class="footer">
						<span>© Sophia Wheatley, 2020</span>
						<a href="https://github.com/sophiawheatley" title="GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>
						<a href="https://twitter.com/aihpos_wheatley" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a href="https://www.linkedin.com/in/sophiawheatley/" title="LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
					</footer>
				</div>
			</div>
		</div>

	</body>
</html>
